*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');




.topbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.503);   ;
    &__content {
        overflow: hidden; 
        
    }
    &__item{
        color: rgb(255, 217, 0);
        
    }

    &__link {
        font-family: 'montserrat';
        color: #fff;
        float: left;
        padding: 10px;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__icon{
        display: none;
    }
    .fas{
        color: rgb(255, 217, 0);
        font-size: 25px;
        padding: 8px;
    }
}
@media screen and (max-width: 768px) {

    div.topbar__content{
        font-size: 10px;
    }
  }
@media screen and (max-width: 600px) {
    .topbar a:not(:first-child) {display: none;}
    .topbar a.topbar__icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topbar.responsive {position: relative;}
    .topbar.responsive .topbar__icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    div.topbar__link{
        font-size: 15px;
    }
  }
                                              //main
.main {
    background-image: url(../img/tooth.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__content {
        
    justify-content: center;
    text-transform: uppercase;
    font-size: 110px;
    color: #000;
    text-align: center;      
    font-family: 'antonio';
    letter-spacing: 10px;
    }

    &__title {
        background-color: rgba(0, 0, 0, 0.503);
        color: rgb(255, 217, 0);
        margin-bottom: 10px;
        
    }

    &__undertitle {
      
    }

    
}



@media only screen and (max-width:768px){
    div.main__content{
    font-size: 40px;
        
    }
}
                                            //service
.service{
    
    height: auto;
    width: 100%;
    
	&__content {
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	&__title {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    font-family: 'montserrat';
	}
    &__title h1{
        font-size: 30px;
        color: rgb(255, 217, 0);
    }
    &__title h3{
    margin-top: 20px;
    width: 300px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    }
    &__title::after {
    display: block;
    content: '';
    width: 80px;
    height: 1px;
    background: black;
    margin: 30px auto 0;

	}
    &__blocks{
        display: flex;
        flex-direction: row;
    }
    
    &__wrap {
    font-family: 'montserrat';
    margin-top: 20px;
    text-align: center;
    width: 300px;
    align-self: center;
    margin-left: 50px;
	}
    &__wrap h1{
        font-size: 25px;
        margin-top: 20px;
        color: rgb(255, 217, 0);
    }
    &__wrap p{
    text-align: left;
    margin-top: 20px;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    }
    

    &__img {
    border: #000 3px solid;
    border-radius: 50%;
	}
    &__wrap li{
        font-family: 'montserrat';
        font-size: 18px;
        text-align: left;
        list-style-type: disc;
        font-weight: 300;
        list-style-position: inside;
        margin-bottom: 10px;
    }

}
@media only screen and (max-width:1024px){
    div.service__blocks{
    display: flex;
    flex-direction: column; 
    }
}
                                            //works
.works {
    z-index: 0;
    font-family: 'montserrat';
    background-color: #fff;
    height: 100%;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__content:before {
        display: block;
        content: '';
        width: 80px;
        height: 1px;
        background: black;
        margin: 30px auto 0;
    }

    &__card {
        font-weight: 400;
        color: #000;
        font-size: 20px;
        text-align: center;
    }
    &__card img {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.342);
        margin-top: 20px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
	&__img {
        max-width: 1000px;
        position: relative;
        margin:auto;
	}

    &__grid::after{
        content: "";
        display: table;
        clear: both;
    }
	&__slide {
	  float: left;
      width: 33%;
      padding: 10px;
    }
    &__slide img{
        opacity: 0.8;
        cursor: pointer;

    }
    &__slide img:hover{
        opacity: 1;
        box-shadow: 0px 3px 20px #000;    
    }
    &__container {
        position: relative;
        display: none;
        width: 1250px;
    }

    .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
    }
    #imgtext{
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #fff;
        font-size: 20px;
    }   
    @media only screen and (max-width: 600px) {
        div.works__slide img{
            height: 100px;
            width: 100px;
        }
        div.works__container{
            width: 100%;
        }
      }
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    text-align: center;
}
.contacts p{
    text-align: center;
   
}
.contacts span{
    
    font-weight: 700;
    color: rgb(255, 217, 0);
}







